@charset"utf-8";
body{

	background-color: #ffe4c4;
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
a{
	text-decoration:none;
}
*/
 section{
	width: 100%;
	height: 95vh;
	
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


nav{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);
    padding: 0px  5px;
    background-color: #333;
	overflow: hidden;


}
nav ul{
	display: flex;


}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700px;
	
	color: white;




}
nav ul li a:hover{
	background-color: red;
}
.text-container p:nth-child(1){
     font-family: calibri;
     font-weight: bold;
     color: #6d6d6d;
     font-size: 22px;


}
.text-container p:nth-child(2){
     font-family: calibri;
     font-weight: bold;
     letter-spacing: 1px;
     color:#1a1a1a;
     font-size: 60px;
}
.text-container p:nth-child(3){
     font-family: myriad pro regular;
     font-weight: bold;
     color: #403e3e;
     font-size: 30px;
     line-height: 30px;
 }
 .text-container p{
     line-height: 0px;
     margin:45px 0px 25px;
 }
 .text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
 }
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;

 }
 .hire-btn{

 	border: 2px solid #373636;
 	color: #373636;
 }
.down-cv{
	background-color: #0b0b0b;
	color: #ffffff;
	border: none;
}
button:active{
	transform: scale(1.1);
}

.bc{
	height: 560px;
	position: right;
    bottom: 0px;
    margin-left: 760px;
   
    transform: translateX(-70%);

}
.about-container{
	width: 80%;
	height: 330px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    top: 200px;
}
.about-container{
	height: 250px;
}
.about-text{
	width: 550px;
}
.about-text p:nth-child(1){
     font-family: myraid pro;
     font-weight: bold;
     line-height:0px;
     color:#403e3e;
     font-size: 23px;
      padding-left: 20px;
 }
 .about-text p:nth-child(2){
     font-family: myraid pro;
     font-weight: bold;
     color:#3e3d3d;
     font-size:px;
     padding-left: 20px;
 }
 .about-text p:nth-child(3),
 .about-text p:nth-child(4){
     color: #7e7d7d;
     font-family: calibri;
     font-size:16px;
     padding-left: 20px;
 }
.about-text button{
      width: 120px;
      height: 40px;
      color: #ffffff;
      outline: none;
      border: none;
      font-family: calibri;
      background-color: #262525;

      
}
.contact-me{
	width: 100%;
	height: 180px;
	background-image: url("background.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-me p{
	color: #ffffff;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid #ffffff;

}
.contact-me button{
	width: 200px
	height:40px;
	background-color: #ffffff;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold;

}
footer{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
footer{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
}
footer p:nth-child(2){
	font-size: 16px;
	width: 600px;
	color: #7e7d7d;
	text-align: center;
}
.information{
	
	border-radius:20px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin: 40px;
}

